.App {
  text-align: center;
}

p {
  margin-top:5px;
  margin-bottom:5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

body {
  position:fixed;
}

.bar {
  display:flex;
  flex-direction: row;
  height: 10vh;
  align-items: center;
  padding-left: 20px;
  background-color: black;
  color:white;
  width:100vw;
}

button {
  height: 40px;
  margin: 0px 20px 0px 20px;
  border-radius: 10px;
}

input[invalid] {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

p.error-message {
  color: red;
}

.skateparks-container {
  /* display: flex; */
  position:fixed;
  flex-wrap: wrap;
  height: 650px;
  width:1200px;
  margin-top: -30px;
  margin-bottom: -10px;
  margin-left: auto;
  margin-right: auto;
  /* position: fixed; */
  overflow-x:hidden;
  background-image: url('../icons/skateparks_map.svg');
  background-repeat: no-repeat;
  background-size:contain;
}

.user-details {
  width:700px;
}

.card {
  display:flex;
  flex-direction: column;
  width: 300px;
  height:1.5rem;
  border-radius: 20px;
  padding-top:3px;
  padding-bottom:3px;
  overflow-y: hidden;
  color: black;
  background-color:white;
  position:fixed;
  border-style: solid;
  border-width: 5px;
}

#lower-woodland-skate-park {
  left: 720px;
  top: 195px;
}

#judkins-skate-park {
  left: 810px;
  top:620px;
}

#jefferson-skate-park {
  left:485px;
  top:505px;
}

#delridge-skate-park {
  bottom:40px;
  left:290px;
}

#cal-anderson-improvised-skate-park {
  left: 780px;
  top: 415px;
}

#seattle-center-skate-plaza-\(seask8\){
  top: 395px;
  left:355px;
}

.card[expanded] {
  height:8rem;
}

.skatepark-text-container {
  width:300px;
  display: flex;
}

.plus-icon {
  margin-left:10px;
}

.card[expanded] .plus-icon {
  transform:rotate(45deg);
  transition-duration: .2s;
}

.park-details-container {
  display:flex;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
}

.skatepark-info-container{
  display:flex;
}

.park-img-div {
  width:150px;
  height:150px;
  overflow:hidden;
  border-radius:75px;
  display:flex;
  justify-content: center;
}

.park-img {
  /* width:10rem; */
  height: 150px;

}

.skatepark-name {
  margin:5px;
}

.status {
  color:red;
}

.category-bar {
  width:100vw;
  padding-left: auto;
  padding-right:auto;

}

.category-list {
  display: flex;
  height:50px;
  width:600px;
  margin: 0px auto 0px auto;
  justify-content: space-between;
}

.category-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
}

.icon {
  height:30px;
  margin-right:10px;
}